.mainContentBoxes {
    min-width: 32.3%;
    max-width: 32.3%;
    margin-top: 0.7%;
    margin-right: 0.2%;
    margin-left: 0.3%;
    display: flexbox;
    min-height: 100%;
    border-radius: 3%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

input[type="text"] {
    font-size: 17pt;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-width: 2px;
    border-radius: 4px;
    background-color: rgb(249, 252, 254);
}

.to-do-list {
    list-style: none;
}

.title {
    text-align: center;
    width: 100%;
}

#to-do {
    border-color: rgb(192, 115, 111);
    background-color: rgb(255, 193, 190);
}

#doing {
    border-color: rgb(184, 184, 100);
    background-color: rgb(255, 255, 190);
}

#done {
    border-color: rgb(145, 207, 145);
    background-color: rgb(190, 255, 190);
}

li {
    font-size: 20pt;
    word-wrap: break-word;
}

.check {
    width: 20px;
    height: 20px;
    vertical-align: center;
    border-width: 2px;
    margin-right: 1%;
}

.but {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    border-width: 2px;
    margin-bottom: 0.6%;
    margin-right: 1%;
}

body {
    overflow: hidden;
}