body {
    margin: 0px;
    background-image: linear-gradient(0deg, rgb(226, 206, 255), rgb(240, 255, 221));
    background-attachment: fixed;
    padding: 0px;
}

.mainContentBoxes {
    min-width: 32%;
    max-width: 32%;
    margin-top: 0.7%;
    margin-left: 0.85%;
    border-radius: 7%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    overflow: scroll;
}

input[type="text"] {
    font-size: 17pt;
    width: 50%;
    text-align: center;
    padding: 0px;
    margin-bottom: 0.1;
    border-width: 2px;
    border-radius: 4px;
    background-color: rgb(249, 252, 254);
    height: 3.2%;
}

.to-do-list {
    list-style: none;
}

.title {
    text-align: center;
    width: 100%;
}

#to-do {
    border-color: rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(105deg, rgb(226, 255, 153), rgb(195, 253, 255));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#doing {
    border-color: rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(105deg, rgb(255, 190, 137), rgb(255, 237, 147));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#done {
    border-color: rgba(0, 0, 0, 0.02);
    background-image: linear-gradient(105deg, rgb(185, 84, 84), rgb(195, 195, 255));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

li {
    font-size: 20pt;
    word-wrap: break-word;
}

.check {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border-style: solid;
    -moz-appearance:none;
    -webkit-appearance:none;
    -o-appearance:none;
    border-width: 2px;
    margin-right: 1%;
    border-radius: 5px;
    border-color: black;
    background-color: rgb(246, 251, 255);
}

.but {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0.6%;
    margin-right: 1%;
    margin-left: 2%;
    display: table-cell;
    padding: 0px;
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    background-color: rgb(246, 251, 255);
}

.but:active {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-bottom: 0.6%;
    margin-right: 1%;
    display: table-cell;
    padding: 0px;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(18, 18, 18);
    background-color: rgb(228, 243, 255);
}

.expandDiv {
    padding: 10px;
    position: fixed;
    min-height: 400px;
    height: 400px;
    max-height: 400px;
    min-width: 40%;
    max-width: 40%;
    background-color: rgb(255, 152, 112);
    right: 29.25%;
    bottom: 30%;
    border-color: rgb(212, 126, 92);
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: rgb(0, 29, 158);
}